<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <style>
        body{background-color: rgb(233, 233, 233);}
        h1{text-align: center;}
        ul{list-style-type: none;}
        li{display: inline;}
    </style>
</head>
<body>
    <h1>Welcome</h1>
    <nav>
        <ul>
            <li><a href="https://task-list-apo.onrender.com/tasks">Tasks</a></li>
            <li><a href="https://task-list-apo.onrender.com/goals">Goals</a></li>
        </ul>
    </nav>
</body>
</html>